{
  "openapi": "3.1.0",
  "info": {
    "title": "DataForSEO Ai Optimization API",
    "description": "Access to DataForSEO Ai Optimization tools for SEO research and analysis",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/ai_optimization/ai_keyword_data/keywords_search_volume/live.ai": {
      "post": {
        "description": "This endpoint provides search volume data for your target keywords, reflecting their estimated usage in AI LLMs",
        "operationId": "ai_optimization_keyword_data_search_volume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Keywords. The maximum number of keywords you can specify: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "default": "United States",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  }
                },
                "required": [
                  "keywords",
                  "language_code"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/{llm_type}/llm_responses/models.ai": {
      "get": {
        "description": "Utility tool for ai_optimization_llm_response to get list of availible locations and languages",
        "operationId": "ai_optimization_llm_models",
        "parameters": [
          {
            "name": "llm_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "gemini",
                "chat_gpt",
                "perplexity"
              ],
              "description": "LLM type"
            }
          }
        ]
      }
    },
    "/v3/ai_optimization/{llm_type}/llm_responses/live.ai": {
      "post": {
        "description": "This endpoint allows you to retrieve structured responses from a specific AI model, based on the input parameters",
        "operationId": "ai_optimization_llm_response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_prompt": {
                    "type": "string",
                    "description": "Prompt for the AI model. The question or task you want to send to the AI model. You can specify up to 500 characters in the user_prompt field"
                  },
                  "model_name": {
                    "type": "string",
                    "description": "name of the AI model. consists of the actual model name and version name. if not sure which model to use, first call the ai_optimization_llm_models tool to get list of available models for the specified llm_type"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "randomness of the AI response optional field higher values make output more diverse; lower values make output more focused;"
                  },
                  "top_p": {
                    "type": "number",
                    "description": "diversity of the AI response, optional field, controls diversity of the response by limiting token selection;"
                  },
                  "web_search": {
                    "type": "boolean",
                    "description": "enable web search for current information. When enabled, the AI model can access and cite current web information;"
                  }
                },
                "required": [
                  "user_prompt",
                  "model_name"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "llm_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "gemini",
                "chat_gpt",
                "perplexity"
              ],
              "description": "LLM type"
            }
          }
        ]
      }
    },
    "/v3/ai_optimization/llm_mentions/available_filters.ai": {
      "post": {
        "description": "This endpoint provides all the necessary information about filters that can be used with AI Optimization LLM Mentions API endpoints",
        "operationId": "ai_optimization_llm_mentions_filters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/chat_gpt_scraper/live.ai": {
      "post": {
        "description": "This endpoint provides results from ChatGPT searches",
        "operationId": "ai_optimization_chat_gpt_scraper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "keyword\nrequired field\nyou can specify up to 2000 characters in the keyword field\nall %## will be decoded (plus character ‘+’ will be decoded to a space character)\nif you need to use the “%” character for your keyword, please specify it as “%25”;\nif you need to use the “+” character for your keyword, please specify it as “%2B”"
                  },
                  "location_name": {
                    "type": "string",
                    "default": "United States",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "force_web_search": {
                    "type": "boolean",
                    "description": "force AI agent to use web search"
                  }
                },
                "required": [
                  "keyword",
                  "language_code"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/chat_gpt_scraper_locations/live.ai": {
      "post": {
        "description": "Utility tool for ai_optimization_chat_gpt_scraper to get list of available locations",
        "operationId": "ai_optimization_chat_gpt_scraper_locations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_iso_code": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code, for example: US, GB, MT"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "Name of location or it`s part."
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    }
  }
}