{
  "openapi": "3.1.0",
  "info": {
    "title": "DataForSEO Ai Optimization API",
    "description": "Access to DataForSEO Ai Optimization tools for SEO research and analysis",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/ai_optimization/ai_keyword_data/locations_and_languages.ai": {
      "get": {
        "description": "Utility tool for 'AI Optimization Keyword Data Locations and Languages' (ai_opt_kw_data_loc_and_lang) to get list of availible locations and languages",
        "operationId": "ai_opt_kw_data_loc_and_lang"
      }
    },
    "/v3/ai_optimization/ai_keyword_data/keywords_search_volume/live.ai": {
      "post": {
        "description": "This endpoint provides search volume data for your target keywords, reflecting their estimated usage in AI LLMs",
        "operationId": "ai_optimization_keyword_data_search_volume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Keywords. The maximum number of keywords you can specify: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "default": "United States",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  }
                },
                "required": [
                  "keywords",
                  "language_code"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/{llm_type}/llm_responses/models.ai": {
      "get": {
        "description": "Utility tool for ai_optimization_llm_response to get list of availible locations and languages",
        "operationId": "ai_optimization_llm_models",
        "parameters": [
          {
            "name": "llm_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "gemini",
                "chat_gpt",
                "perplexity"
              ],
              "description": "LLM type"
            }
          }
        ]
      }
    },
    "/v3/ai_optimization/{llm_type}/llm_responses/live.ai": {
      "post": {
        "description": "This endpoint allows you to retrieve structured responses from a specific AI model, based on the input parameters",
        "operationId": "ai_optimization_llm_response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_prompt": {
                    "type": "string",
                    "description": "Prompt for the AI model. The question or task you want to send to the AI model. You can specify up to 500 characters in the user_prompt field"
                  },
                  "model_name": {
                    "type": "string",
                    "description": "name of the AI model. consists of the actual model name and version name. if not sure which model to use, first call the ai_optimization_llm_models tool to get list of available models for the specified llm_type"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "randomness of the AI response optional field higher values make output more diverse; lower values make output more focused;"
                  },
                  "top_p": {
                    "type": "number",
                    "description": "diversity of the AI response, optional field, controls diversity of the response by limiting token selection;"
                  },
                  "web_search": {
                    "type": "boolean",
                    "description": "enable web search for current information. When enabled, the AI model can access and cite current web information;"
                  }
                },
                "required": [
                  "user_prompt",
                  "model_name"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "llm_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "gemini",
                "chat_gpt",
                "perplexity"
              ],
              "description": "LLM type"
            }
          }
        ]
      }
    },
    "/v3/ai_optimization/llm_mentions/available_filters.ai": {
      "post": {
        "description": "This endpoint provides all the necessary information about filters that can be used with AI Optimization LLM Mentions API endpoints",
        "operationId": "ai_optimization_llm_mentions_filters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/llm_mentions/locations_and_languages.ai": {
      "get": {
        "description": "Utility tool for 'AI Optimization LLM Mentions Locations and Languages' (ai_opt_llm_ment_loc_and_lang) to get list of available locations and languages",
        "operationId": "ai_opt_llm_ment_loc_and_lang"
      }
    },
    "/v3/ai_optimization/llm_mentions/search/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned pages for the specified target",
        "operationId": "ai_opt_llm_ment_search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\nUse % with like/not_like/ilike/not_ilike as a wildcard.\nExample:\n  Single: [\"ai_search_volume\", \">\", \"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "order_by": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "resuresults sorting rules\noptional field\nyou can use the same values as in the filters array to sort the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will be sorted in the descending order\nyou should use a comma to set up a sorting type\nexample:\n[\"ai_search_volume,desc\"]\nnote that you can set no more than three sorting rules in a single request\nyou should use a comma to separate several sorting rules\nexample:\n[\"ai_search_volume,desc\"]\nThe full list of possible orders is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Number of results to return. Default is 10, maximum is 1000."
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/llm_mentions/aggregated_metrics/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated metrics for mentions of the keywords or domains specified in the target array of the request.",
        "operationId": "ai_opt_llm_ment_agg_metrics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\nUse % with like/not_like/ilike/not_ilike as a wildcard.\nExample:\n  Single: [\"ai_search_volume\", \">\", \"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "description": "Internal parameter to limit the number of items processed. Not exposed to end-users."
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/llm_mentions/cross_aggregated_metrics/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated metrics grouped by custom keys for mentions of the keywords or domains specified in the target array of the request",
        "operationId": "ai_opt_llm_ment_cross_agg_metrics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "aggregation_key": {
                          "type": "string",
                          "description": "Custom"
                        },
                        "target": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string",
                                    "description": "Target domain to search for LLM mentions"
                                  },
                                  "search_filter": {
                                    "type": "string",
                                    "enum": [
                                      "include",
                                      "exclude"
                                    ],
                                    "description": "Search filter to apply (include or exclude)"
                                  },
                                  "search_scope": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "any",
                                        "question",
                                        "answer"
                                      ]
                                    },
                                    "description": "Target search scope for LLM mentions"
                                  }
                                },
                                "required": [
                                  "domain"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "keyword": {
                                    "type": "string",
                                    "description": "Target keyword to search for LLM mentions"
                                  },
                                  "match_type": {
                                    "type": "string",
                                    "enum": [
                                      "word_match",
                                      "partial_match"
                                    ],
                                    "description": "Match type for the keyword"
                                  },
                                  "search_filter": {
                                    "type": "string",
                                    "enum": [
                                      "include",
                                      "exclude"
                                    ],
                                    "description": "Search filter to apply (include or exclude)"
                                  },
                                  "search_scope": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "any",
                                        "question",
                                        "answer"
                                      ]
                                    },
                                    "description": "Target search scope for LLM mentions"
                                  }
                                },
                                "required": [
                                  "keyword"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "description": "array of objects containing target entities. a single target can contain up to 10 domain and/or keyword entities"
                        }
                      },
                      "required": [
                        "aggregation_key",
                        "target"
                      ],
                      "additionalProperties": false
                    },
                    "description": "array of objects containing target entities with aggregation keys. you can specify up to 10, but not less than 2"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\nUse % with like/not_like/ilike/not_ilike as a wildcard.\nExample:\n  Single: [\"ai_search_volume\", \">\", \"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "description": "Internal parameter to limit the number of items processed. Not exposed to end-users."
                  }
                },
                "required": [
                  "targets"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/llm_mentions/top_domains/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned domains for the specified target",
        "operationId": "ai_opt_llm_ment_top_domains",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "links_scope": {
                    "type": "string",
                    "enum": [
                      "sources",
                      "search_results"
                    ],
                    "description": "specifies which links will be used to extract domains and aggregation"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\nUse % with like/not_like/ilike/not_ilike as a wildcard.\nExample:\n  Single: [\"ai_search_volume\", \">\", \"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "items_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of results in the items array, min value is 1, max value is 10"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of elements within internal arrays, min value is 1, max value is 10"
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/llm_mentions/top_pages/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned pages for the specified target",
        "operationId": "ai_opt_llm_ment_top_pages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "links_scope": {
                    "type": "string",
                    "enum": [
                      "sources",
                      "search_results"
                    ],
                    "description": "specifies which links will be used to extract domains and aggregation"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\nUse % with like/not_like/ilike/not_ilike as a wildcard.\nExample:\n  Single: [\"ai_search_volume\", \">\", \"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "items_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of results in the items array, min value is 1, max value is 10"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of elements within internal arrays, min value is 1, max value is 10"
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/chat_gpt_scraper/live.ai": {
      "post": {
        "description": "This endpoint provides results from ChatGPT searches",
        "operationId": "ai_optimization_chat_gpt_scraper",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "keyword\nrequired field\nyou can specify up to 2000 characters in the keyword field\nall %## will be decoded (plus character ‘+’ will be decoded to a space character)\nif you need to use the “%” character for your keyword, please specify it as “%25”;\nif you need to use the “+” character for your keyword, please specify it as “%2B”"
                  },
                  "location_name": {
                    "type": "string",
                    "default": "United States",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "force_web_search": {
                    "type": "boolean",
                    "description": "force AI agent to use web search"
                  }
                },
                "required": [
                  "keyword",
                  "language_code"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/ai_optimization/chat_gpt_scraper_locations/live.ai": {
      "post": {
        "description": "Utility tool for ai_optimization_chat_gpt_scraper to get list of available locations",
        "operationId": "ai_optimization_chat_gpt_scraper_locations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_iso_code": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code, for example: US, GB, MT"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "Name of location or it`s part."
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    }
  }
}