{
  "openapi": "3.1.0",
  "info": {
    "title": "DataForSEO Domain Analytics API",
    "description": "Access to DataForSEO Domain Analytics tools for SEO research and analysis",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/domain_analytics/whois/overview/live.ai": {
      "post": {
        "description": "This endpoint will provide you with Whois data enriched with backlink stats, and ranking and traffic info from organic and paid search results. Using this endpoint you will be able to get all these data for the domains matching the parameters you specify in the request",
        "operationId": "domain_analytics_whois_overview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 10,
                    "description": "the maximum number of returned domains"
                  },
                  "offset": {
                    "type": "number",
                    "minimum": 0,
                    "description": "offset in the results array of returned businesses\noptional field\ndefault value: 0\nif you specify the 10 value, the first ten entities in the results array will be omitted and the data will be provided for the successive entities"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like, match, not_match\nUse % with like/not_like as a wildcard.\nExample:\n  Single: [\"rating.value\", \">\", 3]"
                  },
                  "order_by": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "results sorting rules\noptional field\nyou can use the same values as in the filters array to sort the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will be sorted in the descending order\nyou should use a comma to set up a sorting parameter\nexample:\n[\"rating.value,desc\"]note that you can set no more than three sorting rules in a single request\nyou should use a comma to separate several sorting rules\nexample:\n[\"rating.value,desc\",\"rating.votes_count,desc\"]"
                  },
                  "is_claimed": {
                    "type": "boolean",
                    "description": "indicates whether the business is verified by its owner on Google Maps",
                    "default": true
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    },
    "/v3/domain_analytics/whois/available_filters.ai": {
      "get": {
        "description": "Here you will find all the necessary information about filters that can be used with DataForSEO WHOIS API endpoints.\n\nPlease, keep in mind that filters are associated with a certain object in the result array, and should be specified accordingly.",
        "operationId": "domain_analytics_whois_available_filters"
      }
    },
    "/v3/domain_analytics/technologies/domain_technologies/live.ai": {
      "post": {
        "description": "Using this endpoint you will get a list of technologies used in a particular domain",
        "operationId": "domain_analytics_technologies_domain_technologies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "target domain\nrequired field\ndomain name of the website to analyze\nNote: results will be returned for the specified domain only"
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/domain_analytics/technologies/available_filters.ai": {
      "get": {
        "description": "Here you will find all the necessary information about filters that can be used with DataForSEO Technologies API endpoints.\n\nPlease, keep in mind that filters are associated with a certain object in the result array, and should be specified accordingly.",
        "operationId": "domain_analytics_technologies_available_filters"
      }
    }
  }
}