{
  "openapi": "3.1.0",
  "info": {
    "title": "DataForSEO Content Analysis API",
    "description": "Access to DataForSEO Content Analysis tools for SEO research and analysis",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/content_analysis/search/live.ai": {
      "post": {
        "description": "This endpoint will provide you with detailed citation data available for the target keyword",
        "operationId": "content_analysis_search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "target keyword\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;"
                  },
                  "keyword_fields": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "main_title": {
                        "type": "string"
                      },
                      "previous_title": {
                        "type": "string"
                      },
                      "snippet": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "description": "target keyword fields and target keywords\n        use this parameter to filter the dataset by keywords that certain fields should contain;\n        you can indicate several fields;\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;\n        example:\n        {\n          \"snippet\": \"\\\"logitech mouse\\\"\",\n          \"main_title\": \"sale\"\n        }"
                  },
                  "page_type": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ecommerce",
                        "news",
                        "blogs",
                        "message-boards",
                        "organization"
                      ]
                    },
                    "description": "target page types"
                  },
                  "search_mode": {
                    "type": "string",
                    "enum": [
                      "as_is",
                      "one_per_domain"
                    ],
                    "description": "results grouping type"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 10,
                    "description": "maximum number of results to return"
                  },
                  "offset": {
                    "type": "number",
                    "minimum": 0,
                    "default": 0,
                    "description": "offset in the results array of returned keywords"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based filter expression. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like, match, not_match\nUse % with like/not_like as a wildcard.\nExamples:\n  Single: [\"country\", \"=\", \"US\"]\n  Combined: [[\"domain_rank\", \">\", 800], \"and\", [\"content_info.connotation_types.negative\", \">\", 0.9]]\n  Nested: [[\"domain_rank\", \">\", 800], \"and\", [[\"page_types\", \"has\", \"ecommerce\"], \"or\", [\"content_info.text_category\", \"has\", 10994]]]"
                  },
                  "order_by": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "results sorting rules\noptional field\nyou can use the same values as in the filters array to sort the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will be sorted in the descending order\nyou should use a comma to set up a sorting type\nexample:\n[\"content_info.sentiment_connotations.anger,desc\"]\ndefault rule:\n[\"content_info.sentiment_connotations.anger,desc\"]\nnote that you can set no more than three sorting rules in a single request\nyou should use a comma to separate several sorting rules\nexample:\n[\"content_info.sentiment_connotations.anger,desc\",\"keyword_data.keyword_info.cpc,desc\"]"
                  }
                },
                "required": [
                  "keyword"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/content_analysis/summary/live.ai": {
      "post": {
        "description": "This endpoint will provide you with an overview of citation data available for the target keyword",
        "operationId": "content_analysis_summary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "target keyword\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;"
                  },
                  "keyword_fields": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "main_title": {
                        "type": "string"
                      },
                      "previous_title": {
                        "type": "string"
                      },
                      "snippet": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "description": "target keyword fields and target keywords\n        use this parameter to filter the dataset by keywords that certain fields should contain;\n        you can indicate several fields;\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;\n        example:\n        {\n          \"snippet\": \"\\\"logitech mouse\\\"\",\n          \"main_title\": \"sale\"\n        }"
                  },
                  "page_type": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ecommerce",
                        "news",
                        "blogs",
                        "message-boards",
                        "organization"
                      ]
                    },
                    "description": "target page types"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based initial dataset filter expression applied to Search endpoint fields. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like, has, has_not, match, not_match\nUse % with like/not_like as a wildcard.\nExamples:\n  Single: [\"domain\", \"<>\", \"logitech.com\"]\n  Combined: [[\"domain\", \"<>\", \"logitech.com\"], \"and\", [\"content_info.connotation_types.negative\", \">\", 1000]]\n  Nested: [[\"domain\", \"<>\", \"logitech.com\"], \"and\", [[\"content_info.connotation_types.negative\", \">\", 1000], \"or\", [\"content_info.text_category\", \"has\", 10994]]]"
                  },
                  "positive_connotation_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "positive connotation threshold\n          specified as the probability index threshold for positive sentiment related to the citation content\n          if you specify this field, connotation_types object in the response will only contain data on citations with positive sentiment probability more than or equal to the specified value",
                    "default": 0.4
                  },
                  "sentiments_connotation_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "sentiment connotation threshold\nspecified as the probability index threshold for sentiment connotations related to the citation content\nif you specify this field, sentiment_connotations object in the response will only contain data on citations where the\nprobability per each sentiment is more than or equal to the specified value",
                    "default": 0.4
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 1,
                    "description": "maximum number of elements within internal arrays\n          you can use this field to limit the number of elements within the following arrays"
                  }
                },
                "required": [
                  "keyword"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/content_analysis/phrase_trends/live.ai": {
      "post": {
        "description": "This endpoint will provide you with data on all citations of the target keyword for the indicated date range",
        "operationId": "content_analysis_phrase_trends",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "target keyword\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;"
                  },
                  "keyword_fields": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "main_title": {
                        "type": "string"
                      },
                      "previous_title": {
                        "type": "string"
                      },
                      "snippet": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "description": "target keyword fields and target keywords\n        use this parameter to filter the dataset by keywords that certain fields should contain;\n        you can indicate several fields;\n        Note: to match an exact phrase instead of a stand-alone keyword, use double quotes and backslashes;\n        example:\n        {\n          \"snippet\": \"\\\"logitech mouse\\\"\",\n          \"main_title\": \"sale\"\n        }"
                  },
                  "page_type": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ecommerce",
                        "news",
                        "blogs",
                        "message-boards",
                        "organization"
                      ]
                    },
                    "description": "target page types"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "Array-based initial dataset filter expression applied to Search endpoint fields. A single condition is a 3-element array: [field, operator, value]. Combine conditions with [\"and\"|\"or\"] between them: [condition, \"and\", condition]. Max 8 filters.\nOperators: regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like, has, has_not, match, not_match\nUse % with like/not_like as a wildcard.\nExamples:\n  Single: [\"domain\", \"<>\", \"logitech.com\"]\n  Combined: [[\"domain\", \"<>\", \"logitech.com\"], \"and\", [\"content_info.connotation_types.negative\", \">\", 1000]]\n  Nested: [[\"domain\", \"<>\", \"logitech.com\"], \"and\", [[\"content_info.connotation_types.negative\", \">\", 1000], \"or\", [\"content_info.text_category\", \"has\", 10994]]]"
                  },
                  "date_from": {
                    "type": "string",
                    "description": "starting date of the time range\n        date format: \"yyyy-mm-dd\""
                  },
                  "date_to": {
                    "type": "string",
                    "description": "ending date of the time range\n        date format: \"yyyy-mm-dd\""
                  },
                  "date_group": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month"
                    ],
                    "default": "month",
                    "description": "date grouping type"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 1,
                    "description": "maximum number of elements within internal arrays\n          you can use this field to limit the number of elements within the following arrays"
                  }
                },
                "required": [
                  "keyword",
                  "date_from"
                ]
              }
            }
          }
        }
      }
    }
  }
}