{
  "openapi": "3.1.0",
  "info": {
    "title": "DataForSEO Other API Tools",
    "description": "Access to other DataForSEO tools",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dataforseo.com"
    }
  ],
  "paths": {
    "/v3/other/ai_opt_kw_data_loc_and_lang/live.ai": {
      "post": {
        "description": "Utility tool for 'AI Optimization Keyword Data Locations and Languages' (ai_opt_kw_data_loc_and_lang) to get list of availible locations and languages",
        "operationId": "ai_opt_kw_data_loc_and_lang",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_loc_and_lang/live.ai": {
      "post": {
        "description": "Utility tool for 'AI Optimization LLM Mentions Locations and Languages' (ai_opt_llm_ment_loc_and_lang) to get list of available locations and languages",
        "operationId": "ai_opt_llm_ment_loc_and_lang",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_search/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned pages for the specified target",
        "operationId": "ai_opt_llm_ment_search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "you can add several filters at once (8 filters maximum)\n   you should set a logical operator and, or between the conditions\n   the following operators are supported:\n   regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\n   you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters\n   merge operator must be a string and connect two other arrays, availible values: or, and.\n   example:\n[\"ai_search_volume\",\">\",\"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "order_by": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "resuresults sorting rules\noptional field\nyou can use the same values as in the filters array to sort the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will be sorted in the descending order\nyou should use a comma to set up a sorting type\nexample:\n[\"ai_search_volume,desc\"]\nnote that you can set no more than three sorting rules in a single request\nyou should use a comma to separate several sorting rules\nexample:\n[\"ai_search_volume,desc\"]\nThe full list of possible orders is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Number of results to return. Default is 10, maximum is 1000."
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_agg_metrics/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated metrics for mentions of the keywords or domains specified in the target array of the request.",
        "operationId": "ai_opt_llm_ment_agg_metrics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "you can add several filters at once (8 filters maximum)\n   you should set a logical operator and, or between the conditions\n   the following operators are supported:\n   regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\n   you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters\n   merge operator must be a string and connect two other arrays, availible values: or, and.\n   example:\n[\"ai_search_volume\",\">\",\"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "description": "Internal parameter to limit the number of items processed. Not exposed to end-users."
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_cross_agg_metrics/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated metrics grouped by custom keys for mentions of the keywords or domains specified in the target array of the request",
        "operationId": "ai_opt_llm_ment_cross_agg_metrics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "aggregation_key": {
                          "type": "string",
                          "description": "Custom"
                        },
                        "target": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string",
                                    "description": "Target domain to search for LLM mentions"
                                  },
                                  "search_filter": {
                                    "type": "string",
                                    "enum": [
                                      "include",
                                      "exclude"
                                    ],
                                    "description": "Search filter to apply (include or exclude)"
                                  },
                                  "search_scope": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "any",
                                        "question",
                                        "answer"
                                      ]
                                    },
                                    "description": "Target search scope for LLM mentions"
                                  }
                                },
                                "required": [
                                  "domain"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "keyword": {
                                    "type": "string",
                                    "description": "Target keyword to search for LLM mentions"
                                  },
                                  "match_type": {
                                    "type": "string",
                                    "enum": [
                                      "word_match",
                                      "partial_match"
                                    ],
                                    "description": "Match type for the keyword"
                                  },
                                  "search_filter": {
                                    "type": "string",
                                    "enum": [
                                      "include",
                                      "exclude"
                                    ],
                                    "description": "Search filter to apply (include or exclude)"
                                  },
                                  "search_scope": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "any",
                                        "question",
                                        "answer"
                                      ]
                                    },
                                    "description": "Target search scope for LLM mentions"
                                  }
                                },
                                "required": [
                                  "keyword"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "description": "array of objects containing target entities. a single target can contain up to 10 domain and/or keyword entities"
                        }
                      },
                      "required": [
                        "aggregation_key",
                        "target"
                      ],
                      "additionalProperties": false
                    },
                    "description": "array of objects containing target entities with aggregation keys. you can specify up to 10, but not less than 2"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "you can add several filters at once (8 filters maximum)\n   you should set a logical operator and, or between the conditions\n   the following operators are supported:\n   regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\n   you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters\n   merge operator must be a string and connect two other arrays, availible values: or, and.\n   example:\n[\"ai_search_volume\",\">\",\"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "description": "Internal parameter to limit the number of items processed. Not exposed to end-users."
                  }
                },
                "required": [
                  "targets"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_top_domains/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned domains for the specified target",
        "operationId": "ai_opt_llm_ment_top_domains",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "links_scope": {
                    "type": "string",
                    "enum": [
                      "sources",
                      "search_results"
                    ],
                    "description": "specifies which links will be used to extract domains and aggregation"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "you can add several filters at once (8 filters maximum)\n   you should set a logical operator and, or between the conditions\n   the following operators are supported:\n   regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\n   you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters\n   merge operator must be a string and connect two other arrays, availible values: or, and.\n   example:\n[\"ai_search_volume\",\">\",\"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "items_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of results in the items array, min value is 1, max value is 10"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of elements within internal arrays, min value is 1, max value is 10"
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/ai_opt_llm_ment_top_pages/live.ai": {
      "post": {
        "description": "This endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned pages for the specified target",
        "operationId": "ai_opt_llm_ment_top_pages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "Target domain to search for LLM mentions"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "domain"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "keyword": {
                              "type": "string",
                              "description": "Target keyword to search for LLM mentions"
                            },
                            "match_type": {
                              "type": "string",
                              "enum": [
                                "word_match",
                                "partial_match"
                              ],
                              "description": "Match type for the keyword"
                            },
                            "search_filter": {
                              "type": "string",
                              "enum": [
                                "include",
                                "exclude"
                              ],
                              "description": "Search filter to apply (include or exclude)"
                            },
                            "search_scope": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "any",
                                  "question",
                                  "answer"
                                ]
                              },
                              "description": "Target search scope for LLM mentions"
                            }
                          },
                          "required": [
                            "keyword"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Array of target objects to search for LLM mentions. Each object must contain either 'domain' or 'keyword'. Maximum number of targets: 1000"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "full name of the location, example: 'United Kingdom', 'United States'"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Search engine language code (e.g., 'en')"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "chat_gpt",
                      "google"
                    ],
                    "description": "Platform to search for LLM mentions"
                  },
                  "links_scope": {
                    "type": "string",
                    "enum": [
                      "sources",
                      "search_results"
                    ],
                    "description": "specifies which links will be used to extract domains and aggregation"
                  },
                  "initial_dataset_filters": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "number",
                              "boolean"
                            ]
                          },
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {},
                          "minItems": 3,
                          "maxItems": 3
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "maxItems": 3,
                    "description": "you can add several filters at once (8 filters maximum)\n   you should set a logical operator and, or between the conditions\n   the following operators are supported:\n   regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like\n   you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters\n   merge operator must be a string and connect two other arrays, availible values: or, and.\n   example:\n[\"ai_search_volume\",\">\",\"1000\"]\nThe full list of possible filters is available in 'ai_optimization_llm_mentions_filters' tool"
                  },
                  "items_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of results in the items array, min value is 1, max value is 10"
                  },
                  "internal_list_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "maximum number of elements within internal arrays, min value is 1, max value is 10"
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_google_ads_locations/live.ai": {
      "post": {
        "description": "Utility tool for kw_data_google_ads_search_volume to get list of availible locations.",
        "operationId": "kw_data_google_ads_locations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_iso_code": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code, for example: US, GB, MT"
                  },
                  "location_type": {
                    "type": "string",
                    "description": "Type of location. Possible variants: 'TV Region','Postal Code','Neighborhood','Governorate','National Park','Quarter','Canton','Airport','Okrug','Prefecture','City','Country','Province','Barrio','Sub-District','Congressional District','Municipality District','district','DMA Region','Union Territory','Territory','Colloquial Area','Autonomous Community','Borough','County','State','District','City Region','Commune','Region','Department','Division','Sub-Ward','Municipality','University'"
                  },
                  "location_name": {
                    "type": "string",
                    "description": "Name of location or it`s part."
                  }
                },
                "required": [
                  "country_iso_code"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_google_ads_search_volume/live.ai": {
      "post": {
        "description": "Get search volume data for keywords from Google Ads",
        "operationId": "kw_data_google_ads_search_volume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_name": {
                    "type": "string",
                    "default": "United States",
                    "description": "full name of the location\nrequired field\nLocation format - hierarchical, comma-separated (from most specific to least)\n Can be one of:\n 1. Country only: \"United States\"\n 2. Region,Country: \"California,United States\"\n 3. City,Region,Country: \"San Francisco,California,United States\""
                  },
                  "language_code": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "Language two-letter ISO code (e.g., 'en').\noptional field"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of keywords to get search volume for"
                  }
                },
                "required": [
                  "keywords"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_dfs_trends_demography/live.ai": {
      "post": {
        "description": "This endpoint will provide you with the demographic breakdown (by age and gender) of keyword popularity per each specified term based on DataForSEO Trends data",
        "operationId": "kw_data_dfs_trends_demography",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "full name of the location\n        optional field\n        in format \"Country\"\n        example:\n        United Kingdom"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "keywords\n        the maximum number of keywords you can specify: 5"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "web",
                      "news",
                      "ecommerce"
                    ],
                    "default": "web",
                    "description": "dataforseo trends type"
                  },
                  "date_from": {
                    "type": "string",
                    "description": "starting date of the time range\n          if you don’t specify this field, the current day and month of the preceding year will be used by default\n          minimal value for the web type: 2004-01-01\n          minimal value for other types: 2008-01-01\n          date format: \"yyyy-mm-dd\"\n          example:\n          \"2019-01-15\""
                  },
                  "date_to": {
                    "type": "string",
                    "description": "ending date of the time range\n            if you don’t specify this field, the today’s date will be used by default\n            date format: \"yyyy-mm-dd\"\n            example:\n            \"2019-01-15\""
                  },
                  "time_range": {
                    "type": "string",
                    "enum": [
                      "past_4_hours",
                      "past_day",
                      "past_7_days",
                      "past_30_days",
                      "past_90_days",
                      "past_12_months",
                      "past_5_years"
                    ],
                    "default": "past_7_days",
                    "description": "preset time ranges\n            if you specify date_from or date_to parameters, this field will be ignored when setting a task"
                  }
                },
                "required": [
                  "keywords"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_dfs_trends_subregion_interests/live.ai": {
      "post": {
        "description": "This endpoint will provide you with location-specific keyword popularity data from DataForSEO Trends",
        "operationId": "kw_data_dfs_trends_subregion_interests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "full name of the location\n        optional field\n        in format \"Country\"\n        example:\n        United Kingdom"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "keywords\n        the maximum number of keywords you can specify: 5"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "web",
                      "news",
                      "ecommerce"
                    ],
                    "default": "web",
                    "description": "dataforseo trends type"
                  },
                  "date_from": {
                    "type": "string",
                    "description": "starting date of the time range\n          if you don’t specify this field, the current day and month of the preceding year will be used by default\n          minimal value for the web type: 2004-01-01\n          minimal value for other types: 2008-01-01\n          date format: \"yyyy-mm-dd\"\n          example:\n          \"2019-01-15\""
                  },
                  "date_to": {
                    "type": "string",
                    "description": "ending date of the time range\n            if you don’t specify this field, the today’s date will be used by default\n            date format: \"yyyy-mm-dd\"\n            example:\n            \"2019-01-15\""
                  },
                  "time_range": {
                    "type": "string",
                    "enum": [
                      "past_4_hours",
                      "past_day",
                      "past_7_days",
                      "past_30_days",
                      "past_90_days",
                      "past_12_months",
                      "past_5_years"
                    ],
                    "default": "past_7_days",
                    "description": "preset time ranges\n            if you specify date_from or date_to parameters, this field will be ignored when setting a task"
                  }
                },
                "required": [
                  "keywords"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_dfs_trends_explore/live.ai": {
      "post": {
        "description": "This endpoint will provide you with the keyword popularity data from DataForSEO Trends. You can check keyword trends for Google Search, Google News, and Google Shopping",
        "operationId": "kw_data_dfs_trends_explore",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "full name of the location\n        optional field\n        in format \"Country\"\n        example:\n        United Kingdom"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "keywords\n        the maximum number of keywords you can specify: 5"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "web",
                      "news",
                      "ecommerce"
                    ],
                    "default": "web",
                    "description": "dataforseo trends type"
                  },
                  "date_from": {
                    "type": "string",
                    "description": "starting date of the time range\n          if you don’t specify this field, the current day and month of the preceding year will be used by default\n          minimal value for the web type: 2004-01-01\n          minimal value for other types: 2008-01-01\n          date format: \"yyyy-mm-dd\"\n          example:\n          \"2019-01-15\""
                  },
                  "date_to": {
                    "type": "string",
                    "description": "ending date of the time range\n            if you don’t specify this field, the today’s date will be used by default\n            date format: \"yyyy-mm-dd\"\n            example:\n            \"2019-01-15\""
                  },
                  "time_range": {
                    "type": "string",
                    "enum": [
                      "past_4_hours",
                      "past_day",
                      "past_7_days",
                      "past_30_days",
                      "past_90_days",
                      "past_12_months",
                      "past_5_years"
                    ],
                    "default": "past_7_days",
                    "description": "preset time ranges\n            if you specify date_from or date_to parameters, this field will be ignored when setting a task"
                  }
                },
                "required": [
                  "keywords"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/other/kw_data_google_trends_categories/live.ai": {
      "get": {
        "description": "This endpoint will provide you list of Google Trends Categories",
        "operationId": "kw_data_google_trends_categories"
      }
    },
    "/v3/other/kw_data_google_trends_explore/live.ai": {
      "post": {
        "description": "This endpoint will provide you with the keyword popularity data from the ‘Explore’ feature of Google Trends. You can check keyword trends for Google Search, Google News, Google Images, Google Shopping, and YouTube",
        "operationId": "kw_data_google_trends_explore",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "full name of the location\n        optional field\n        in format \"Country\"\n        example:\n        United Kingdom"
                  },
                  "language_code": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": null,
                    "description": "Language two-letter ISO code (e.g., 'en').\n        optional field"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "keywords\n        the maximum number of keywords you can specify: 5\n        the maximum number of characters you can specify in a keyword: 100\n        the minimum number of characters must be greater than 1\n        comma characters (,) in the specified keywords will be unset and ignored\n        Note: keywords cannot consist of a combination of the following characters: < > |  \" - + = ~ ! : * ( ) [ ] { }\n\n        Note: to obtain google_trends_topics_list and google_trends_queries_list items, specify no more than 1 keyword"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "web",
                      "news",
                      "youtube",
                      "images",
                      "froogle"
                    ],
                    "default": "web",
                    "description": "google trends type"
                  },
                  "date_from": {
                    "type": "string",
                    "description": "starting date of the time range\n          if you don’t specify this field, the current day and month of the preceding year will be used by default\n          minimal value for the web type: 2004-01-01\n          minimal value for other types: 2008-01-01\n          date format: \"yyyy-mm-dd\"\n          example:\n          \"2019-01-15\""
                  },
                  "date_to": {
                    "type": "string",
                    "description": "ending date of the time range\n            if you don’t specify this field, the today’s date will be used by default\n            date format: \"yyyy-mm-dd\"\n            example:\n            \"2019-01-15\""
                  },
                  "time_range": {
                    "type": "string",
                    "enum": [
                      "past_hour",
                      "past_4_hours",
                      "past_day",
                      "past_7_days",
                      "past_30_days",
                      "past_90_days",
                      "past_12_months",
                      "past_5_years"
                    ],
                    "default": "past_7_days",
                    "description": "preset time ranges\n            if you specify date_from or date_to parameters, this field will be ignored when setting a task"
                  },
                  "item_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "google_trends_graph",
                        "google_trends_map",
                        "google_trends_topics_list",
                        "google_trends_queries_list"
                      ]
                    },
                    "default": [
                      "google_trends_graph"
                    ],
                    "description": "types of items returned\n            to speed up the execution of the request, specify one item at a time"
                  },
                  "category_code": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "default": null,
                    "description": "google trends search category\n            you can receive the list of available categories with their category_code by making a separate request to the keywords_data_google_trends_categories tool"
                  }
                },
                "required": [
                  "keywords"
                ]
              }
            }
          }
        }
      }
    }
  }
}